.btn-category {
    padding: 0.5rem 1.5rem;
    color: var(--beige);
    background-color: var(--cafe-oscuro);
    border: 1px solid var(--dorado);
    transition: all 0.3s ease;
}

.btn-category:hover {
    background-color: var(--dorado);
    color: var(--cafe-oscuro);
    transform: translateY(-2px);
}

.btn-category.active {
    background-color: var(--dorado);
    color: var(--cafe-oscuro);
    font-weight: bold;
}

.menu-card {
    transition: all 0.3s ease;
    background-color: var(--negro);
    border: 1px solid var(--cafe-claro);
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.menu-item {
    transition: all 0.3s ease;
}
.card-title, .card-text, .card-price {
    color: var(--cafe-claro);
}