<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <section class="coffee-banner" th:fragment="banner">
        <img class="banner-image" src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085" alt="Banner café">
        <div class="banner-overlay"></div>
        <div class="banner-content">
            <div class="banner-tag">BIENVENIDOS A MOKAF</div>
            <h2 class="banner-title">Descubre el Arte del <span>Café de Especialidad</span></h2>
            <p class="banner-description">Donde cada taza cuenta una historia de pasión, calidad y artesanía.</p>
            <a href="/menu" class="banner-button">Ver Menú <i class="fas fa-arrow-right"></i></a>
        </div>
    </section>
</body>
</html>